<a href="https://colab.research.google.com/github/rizkidany3-glitch/Pemograman-Dasar/blob/main/praktikum_02_Rizky_Dani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variabel list
numbers = [23,43,51,34]
# cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
#cara mengubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] # 51

print (numbers[1])
print (numbers[2])
print (numbers[3])

43
51
34

In [ ]:
# deklrasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)  #[1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4  #[1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)  #[1, 2, 4]

#print lalu liat hasilnya

3

In [ ]:
# deklarasi variabel list
mylist = [1, "Rumah", 4.5, True,  ["Kamar mandi", "Kamar tidur"]]

# cara mengakses elemen dalam variabel list
mylist[0] # 1
mylist[1] # "Rumah"
mylist[3] # True
mylist[4] # ["Kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
mylist[4][0]  # "Kamar mandi"
mylist [4][1]  # "Kamar tidur"

#print

'Kamar tidur'

In [ ]:
x = ["laptop", "monitor",  "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
x = (5, 'program', 1+3j)
x = 'Polibatam'

print(x)

Polibatam

In [ ]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]  #23
numbers[1]  #43
numbers[2]  #15

#lakukan print lalu amati hasilnya

15

In [ ]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)   # {1, 2, 3, 4}

#operasi irisan
a.intersection(b)  # {2, 3}

# operasi perbedaan
a.symmetric_difference(b)  # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [ ]:
x = { 'nama' : 'rizky dani',  'age': 20, 'isMarried': False}

print(type )

<class 'dict'>

In [ ]:
x = { 'nama': 'rizky dani', 'age': 20, 'isMarried': False}

print(x ["nama"])

rizky dani

In [ ]:
x = { 'nama': 'rizky dani', 'age': 20, 'isMarried': False}
x ['job'] = "web developer"

print(x)

{'nama': 'rizky dani', 'age': 20, 'isMarried': False, 'job': 'web developer'}

In [ ]:
x = { 'nama': 'rizky dani', 'age': 20, 'isMarried': False}
del x['isMarried']

print (x)

{'nama': 'rizky dani', 'age': 20}

In [ ]:
x = { 'nama': 'rizky dani', 'age': 20, 'isMarried': False}
x ['nama'] = "dany"

print(x)

{'nama': 'dany', 'age': 20, 'isMarried': False}

In [ ]:
# deklarasi variabel dictionary
property_detail = {"numFloors": 1, "propertyType": "rumah", "hasTerrace": True, "hasGrage": False}

# cara mengakses elemen dalam variabel dictionary
property_detail["numFloors"]        # 1
property_detail["propertyType"]     # "rumah"
property_detail["hasTerrace"]       # True
property_detail["hasGrage"]         # False

# cara mengubah nilai elemen dalam variabel dictionary
property_detail["hasTerrace"] = False

property_detail["hasTerrace"]      # False

print(property_detail["propertyType"])

rumah